.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  text-align: center;
  vertical-align: bottom;
}

.compareCompanyBtn {
  background-color: #2e2e2e;
  color: #747474;
  border-radius: 50px;
  border: none;
  width: 183px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  padding: 13px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  text-align: center;
  vertical-align: bottom;
}

.compareCompanyBtn.active {
  background-color: #eb5230;
  color: #ffffff;
}

.compareCompanyBtn.disabledBtn {
  background-color: #2e2e2e !important;
  color: #747474 !important;
  cursor: not-allowed !important;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .compareCompanyBtn {
    width: 183px;
    height: 48px;
    font-size: 16px;
    padding: 13px 48px;
    line-height: 19.09px;
    box-sizing: border-box;
    font-family: "Pretendard", sans-serif;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    text-align: center;
    vertical-align: bottom;
  }
}

@media (max-width: 743px) {
  .compareCompanyBtn {
    width: 183px;
    height: 48px;
    font-size: 16px;
    line-height: 19.09px;
    box-sizing: border-box;
    font-family: "Pretendard", sans-serif;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    text-align: center;
    vertical-align: bottom;
  }
}
