.companyCardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.companyCard {
  width: 126px;
  height: 187px;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.noBackground {
  background-color: transparent;
}

.deleteButton {
  position: absolute;
  top: 8px;
  right: 8px;
  &:hover {
    cursor: pointer;
  }
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 32px;
}

.companyName {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
}

.companyCategory {
  color: #747474;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 743px) {
  .companyCard {
    width: 95px;
    height: 160px;
    border-radius: 8px;
  }

  .logo {
    width: 65px;
    height: 65px;
  }

  .companyName {
    font-size: 14px;
    font-weight: 500;
  }

  .companyCategory {
    font-size: 12px;
    font-weight: 500;
  }
}
