.pagination {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 48px;
  height: 48px;
  border-radius: 20.83%;

  background-color: var(--black-100);

  font-weight: 400;
  border: none;
  color: var(--gray-200);
  font-size: 18px;
  line-height: 40px;
  cursor: pointer;
  margin: 0;
}

.leftPageButton,
.rightPageButton {
  margin: 0 8px;
}

.pageNumberButtons button {
  margin: 0 4px;
}

.button:hover {
  background-color: var(--gray-100);
  color: var(--brand-orange);
}

.active {
  background-color: var(--brand-orange);
  color: #ffffff;
  border: none;
}

.button:disabled {
  background-color: var(--gray-300);

  color: var(--gray-400);

  cursor: not-allowed;
}

@media (max-width: 743px) {
  .button {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
  }
}
