.pagination {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 48px;
  height: 48px;
  border-radius: 20.83%;
  background-color: #2e2e2e;
  font-weight: 400;
  border: none;
  color: #747474;
  font-size: 18px;
  line-height: 40px;
  cursor: pointer;
  margin: 0;
}

.leftPageButton,
.rightPageButton {
  margin: 0 8px;
}

.pageNumberButtons button {
  margin: 0 4px;
}

.button:hover {
  background-color: #d8d8d8;
  color: #eb5230;
}

.active {
  background-color: #eb5230;
  color: #ffffff;
  border: none;
}

.button:disabled {
  background-color: #4b4b4b;
  color: #333333;
  cursor: not-allowed;
}

@media (max-width: 743px) {
  .button {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
  }
}
