* {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  text-align: center;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

.selectBtnDefault {
  width: 104px;
  height: 48px;
  background: none;
  color: #eb5230;
  border-radius: 10px;
  border: 1px solid #eb5230;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.selectBtnSelected {
  width: 104px;
  height: 48px;
  background: none;
  color: #d8d8d8;
  border-radius: 10px;
  border: 1px solid #d8d8d8;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding-left: 28.5px;
  background-repeat: no-repeat;
  background-position: 11px center;
}

.selectBtnDeselected {
  width: 104px;
  height: 48px;
  background: none;
  color: #747474;
  border-radius: 10px;
  border: 1px solid #747474;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 743px) {
  .selectBtnDefault {
    width: 73px;
    height: 32px;
    font-size: 14px;
  }

  .selectBtnSelected {
    width: 73px;
    height: 32px;
    font-size: 14px;
    background-size: 16px 16px;
    background-position: 3px center;
    padding-left: 15px;
  }

  .selectBtnDeselected {
    width: 73px;
    height: 32px;
    font-size: 14px;
  }
}
