.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button {
  width: 48px;
  height: 48px;
  border-radius: 10px; /* 10px의 반지름을 퍼센트로 변환한 값 */
  background-color: #2e2e2e; /* 버튼 배경 색상 */
  font-weight: 400;
  border: none;
  color: #747474;
  font-size: 18px;
  line-height: 40px;
  cursor: pointer;
  margin: 0;
}

.page_button {
  padding: 12px 15px;
  margin: 0 4px;
  cursor: pointer;
  background-color: #2e2e2e;
  border-radius: 7px;
  color: #747474;
  border: none;
}

.page_button:hover {
  background-color: #eb5230;
  opacity: 0.5;
}

.page_button:disabled {
  cursor: not-allowed;
}

.active {
  font-weight: bold;
  background-color: #eb5230;
  color: white;
}
