body {
  background-color: black;
  width: 100%;
  height: 100%;
}

label,
p {
  color: white;
}

input {
  border-radius: 12px;
  padding: 16px 24px;
  width: 640px;
  border: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  height: 100vh;
}

.email,
.nick,
.pw,
.pw_check {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.toggle_img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.login_button {
  width: 640px;
  border-radius: 40px;
  padding: 16px 124px;
  border: none;
  gap: 10px;
  background-color: #eb5230;
  cursor: pointer;
  transition: background-color 0.8s;
}
.login_button:disabled {
  background-color: #9ca3af;
  color: #d8d8d8;
  cursor: not-allowed;
}

.info {
  display: flex;
  gap: 4px;
}

.go_to_signup {
  color: #eb5230;
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
}

.pw,
.pw_check {
  position: relative;
}

.toggle_img {
  position: absolute;
  top: 45px;
  right: 16px;
  bottom: 16px;
}

.error {
  color: red;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 1199px) and (min-width: 744px) {
  .login_logo_img {
    width: 548.8px;
    height: auto;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .login_logo_img {
    width: 338.8px;
    height: auto;
  }

  input {
    width: 343px;
  }

  .login_button {
    width: 343px;
  }
  .login_button {
    font-size: 20px;
  }
}
