* {
  box-sizing: border-box;
}

.startupList {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
}

.startup_list {
  width: 1200px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.all_startup_list {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
  gap: 919px;
}

.search_sorting {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  width: 448px;
  height: 48px;
  padding: 12px;
  background-color: black;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid #747474;
}

.search_input {
  padding: 4px;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: black;
  color: #d8d8d8;
  align-content: center;
  box-sizing: border-box;
}

.search_input:focus {
  outline: none;
}

.dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown_select {
  width: 168px;
  height: 48px;
  border: 1px solid #747474;
  border-radius: 10px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  display: flex;
  color: #d8d8d8;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  white-space: nowrap;
}

.dropdown_icon {
  width: 21.5px;
  height: 21.5px;
  align-items: right;
}

.dropdown_list {
  position: absolute;
  display: grid;
  grid-template-rows: 168px auto;
  grid-gap: 0;
  margin: 8px 0 0;
  padding: 0;
}

.investment_high {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #747474;
  border-radius: 10px 10px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  color: #d8d8d8;
  width: 168px;
  height: 40px;
}

.investment_low,
.sales_high,
.sales_low,
.employeeNum_high {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #747474;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  color: #d8d8d8;
  width: 168px;
  height: 40px;
}

.employeeNum_low {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #747474;
  border-radius: 0 0 10px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  color: #d8d8d8;
  width: 168px;
  height: 40px;
}
