* {
  box-sizing: border-box;
}

.startupList {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

.startup_list {
  width: 1200px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.all_startup_list {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
  gap: 919px;
}

.search_sorting {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  width: 448px;
  height: 48px;
  padding: 12px;
  background-color: black;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid #747474;
}

.search_input {
  padding: 4px;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: black;
  color: #d8d8d8;
  align-content: center;
  box-sizing: border-box;
}

.search_input:focus {
  outline: none;
}

.dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.logo_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.category_box {
  width: 1200px;
  text-align: center;
  background-color: #2e2e2e;
  border-radius: 10px;
}

.category_kind {
  padding: 0;
  margin: 0;
  background-color: black;
  color: #d8d8d8;
}

.category_body {
  background-color: #2e2e2e;
  color: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.category_body:nth-child(1) {
  border-radius: 4px 4px 0 0;
}

.category_body:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom: none !important;
}

.category_rank {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 68px;
  height: 39px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.category_company_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 213px;
  height: 39px;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 40px;
  display: flex;
  color: #d8d8d8;
}

.category_company_info {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 304px;
  height: 39px;
  align-items: center;
  display: flex;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 304px;
  height: 64px;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 32px;
}

.category_category,
.category_investment_amount,
.category_sales {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 153.75px;
  height: 39px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.category_employee_num {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 153.75px;
  height: 39px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.category_body {
  background-color: #212121;
  border-bottom: 1px solid #4b4b4b !important;
}

.no_results {
  list-style: none;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .startupList {
    width: 100%;
  }
  .startup_list {
    width: 696px;
    align-items: flex-start;
  }
  .search_sorting {
    width: 449px;
  }

  .category_box {
    width: 696px;
  }

  .category_rank {
    font-weight: 400;
    width: 60px;
    height: 64px;

    display: none;
  }

  .category_company_name {
    width: 140px;
    height: 64px;
  }

  .category_company_info {
    width: 180px;
    height: 64px;
    font-weight: 400;
  }

  .category_category {
    width: 84px;
    height: 64px;
    font-weight: 400;
  }

  .category_startup_investment,
  .category_total_investment,
  .category_selection,
  .category_compare_selection {
    width: 116px;
    height: 64px;
    font-weight: 400;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .startupList {
    width: 100%;
    width: 90vw;
  }
  .startup_list {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .search_sorting {
    width: 100%;
    justify-content: space-between;
  }
  .search {
    width: 189px;
  }
  .main_box {
    width: 696px;
    overflow-x: auto;
    width: 90vw;
    padding-bottom: 15px;
  }
  .category_box {
    width: 696px;
  }

  .category_rank {
    font-weight: 400;
    width: 60px;
    height: 64px;
    display: none;
  }

  .category_company_name {
    width: 140px;
    height: 64px;
    margin-left: 10 px;
  }

  .category_company_info {
    width: 180px;
    height: 64px;
    font-weight: 400;
  }

  .category_category {
    width: 84px;
    height: 64px;
    font-weight: 400;
  }

  .category_investment_amount {
    width: 116px;
    height: 64px;
    font-weight: 400;
  }

  .category_sales {
    width: 116px;
    height: 64px;
    font-weight: 400;
  }

  .category_employee_num {
    width: 116px;
    height: 64px;
    font-weight: 400;
  }

  .category_kind,
  .category_body,
  .category_rank,
  .category_company_name,
  .category_company_info,
  .category_category,
  .category_investment_amount,
  .category_sales,
  .category_employee_num {
    font-size: 13px;
  }
}
