.header_container {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 20px;
}

.header_div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
}

.header_list {
  flex-grow: 1;
  text-align: center;
  color: white;
}

.header_list.company:nth-child(1) {
  width: 68px;
}

.header_list.company:nth-child(2) {
  width: 213px;
}

.header_list.company:nth-child(3) {
  width: 304px;
}

.header_list.company:nth-child(4),
.header_list.company:nth-child(5),
.header_list.company:nth-child(6) {
  width: 153.75px;
}

.header_list.company:nth-child(7) {
  width: 153.75px;
}

.header_list.status:nth-child(1) {
  width: 68px;
}

.header_list.status:nth-child(2) {
  width: 213px;
}

.header_list.status:nth-child(3) {
  width: 304px;
}

.header_list.status:nth-child(4) {
  width: 135.75px;
}

.header_list.status:nth-child(5),
.header_list.status:nth-child(6) {
  width: 230.63px;
}
