.nav {
  position: relative;
  z-index: 1;
  padding: 15px 0;
  background-color: #131313;
  border-bottom: solid 1px #2e2e2e;
}

.container {
  display: flex;
  align-items: center;
  padding: 0 200px;
}

ul.menu {
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin: 0;
  list-style: none;
}

ul.menu > li:not(:last-child) {
  margin-right: 30px;
}

ul.menu a:hover,
ul.menu a:active {
  text-decoration: underline;
}
