.nav {
  position: sticky;
  z-index: 1;
  padding: 15px 0;
  background-color: #131313;
  border-bottom: solid 1px #2e2e2e;
}

.container {
  display: flex;
  align-items: center;
  padding: 0 200px;
}

ul.menu {
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin: 0;
  list-style: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 17.9px;
}

ul.menu > li:not(:last-child) {
  margin-right: 30px;
}

ul.menu a:hover,
ul.menu a:active {
  text-decoration: underline;
}

.m_logo {
  display: none;
}

.logo {
  display: block;
}

.logo_click {
  cursor: pointer;
}

.user_menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.log_button {
  display: flex;
  background-color: #eb5230;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 1200px) and (min-width: 743px) {
  .nav {
    gap: 24px;
    display: flex;
  }

  .container {
    margin-left: 24px;
    padding: 0;
  }

  .menu {
    gap: 10px;
  }
  .user_menu {
    margin-right: 50px;
  }
}

@media (max-width: 743px) and (min-width: 375px) {
  .nav {
    width: 100%;
    display: flex;
    padding: 0;
  }

  .container {
    margin-left: 10px;
    padding: 0;
  }

  .menu {
    padding: 21px 0;
    gap: 0;
  }

  .menu li {
    font-size: 11px;
  }
  ul {
    font-weight: 700;
    font-size: 12px;
    line-height: 14.32px;
  }
  ul.menu {
    padding-left: 10px;
    white-space: nowrap;
  }
  .logo {
    display: none;
  }

  .m_logo {
    display: block;
  }

  .user_menu span {
    display: none;
  }
  .log_button {
    font-size: 11px;
    width: 50px;
  }
}
