* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #131313;
}

.selected_company_result {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 100px;
}

.selected_company_result_header {
  width: 1200px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.selected_company_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  display: flex;
  white-space: nowrap;
  gap: 919px;
}

.selected {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 40px;
}

.compare_button {
  height: 40px;
  width: auto;
  border-radius: 50px;
  padding: 8px 24px;
  background-color: #eb5230;
  color: #ffffff;
}

.selected_company_box {
  margin-top: 20px;
  background-color: #212121;
  width: 1200px;
  height: 300px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my_company_logo_img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.company_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.87px;
  align-items: center;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
}

.company_category {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.48px;
  color: #747474;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
}

.selected_company_middle_header {
  margin-top: 40px;
  width: 1200px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.compare_result_check {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  display: flex;
  white-space: nowrap;
  gap: 919px;
}

.dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.category_box_compare {
  width: 1200px;
  text-align: center;
  background-color: #2e2e2e;
  border-radius: 10px;
}

.category_kind_compare {
  margin-top: 16px;
  padding: 0;
  margin: 0;
  background-color: #131313;
  color: #d8d8d8;
}

.category_body:first-child,
.category_my_company_body:first-child {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.category_rank,
.company_rank {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 68px;
  height: 64px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #212121;
}

.category_company_name,
.compare_company_name,
.compare_my_company_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 213px;
  height: 64px;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  background-color: #212121;
  padding-left: 24px;
}

.my_company_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 213px;
  height: 64px;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  background-color: #2e2e2e;
  padding-left: 24px;
}

.category_company_info,
.compare_company_info,
.company_info {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 304px;
  height: 64px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 32px;
  background-color: #212121;
}

.my_company_info {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 304px;
  height: 64px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 32px;
  background-color: #2e2e2e;
}

.my_company_category,
.my_company_investment_amount,
.my_company_sales,
.my_company_employee_num {
  width: 170.75px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  align-items: center;
  color: #d8d8d8;
}

.category_body,
.category_bottom_body,
.category_my_company_body,
.category_compare_body {
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #4b4b4b !important;
}

.compare_company_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 213px;
  height: 64px;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  padding-left: 24px;
}

.compare_company_category,
.compare_company_investment_amount,
.compare_company_sales,
.compare_company_employee_num {
  width: 170.75px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  align-items: center;
  color: #d8d8d8;
}

.category_category,
.category_investment_amount,
.category_sales,
.my_company_category,
.company_investment_amount,
.company_sales,
.company_employee_num {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 153.75px;
  height: 64px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #212121;
  color: #d8d8d8;
}

.category_employee_num {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  width: 153.75px;
  height: 64px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #212121;
}

.company_rank,
.compare_my_company_name,
.company_info,
.my_company_category,
.company_investment_amount,
.company_sales,
.company_employee_num {
  background-color: #2e2e2e;
}

.category_bottom_body:last-child,
.category_compare_body:last-child {
  border: none !important;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.category_my_company_body {
  background-color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #4b4b4b;
}

.logo_img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}

.selected_company_bottom_header {
  margin-top: 40px;
  width: 1200px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.company_rank_check {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  display: flex;
  white-space: nowrap;
  gap: 919px;
}

.category_box_rank {
  width: 1200px;
  text-align: center;
  background-color: #2e2e2e;
  border-radius: 10px;
}

.category_kind_rank {
  margin-top: 16px;
  padding: 0;
  margin: 0;
  background-color: #131313;
  color: #d8d8d8;
}

.investment_button {
  width: 183px;
  height: 48px;
  border-radius: 50px;
  padding: 13px 48px;
  gap: 10px;
  background-color: #eb5230;
  color: #ffffff;
  margin-top: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  display: flex;
  border: none;
}
@media (max-width: 1199px) {
  .my_company_name {
    width: 200px;
    margin-right: 25px;
  }
  .my_company_info {
    width: 250px;
  }
  .compare_company_name {
    width: 245px;
  }
  .compare_company_info {
    width: 250px;
  }

  .compare_my_company_name {
    width: 240px;
  }
  .company_info {
    width: 210px;
  }

  .category_company_name {
    width: 210px;
  }

  .category_company_info {
    width: 180px;
    height: 64px;
    font-weight: 400;
    margin-left: 10px;
  }

  .category_category {
    width: 84px;
    height: 64px;
    font-weight: 400;
    margin-left: 40px;
  }

  .category_startup_investment,
  .category_total_investment,
  .category_selection,
  .category_compare_selection {
    width: 116px;
    height: 64px;
    font-weight: 400;
  }
}
@media (max-width: 1199px) and (min-width: 744px) {
  .selected_company_result {
    width: 696px;
  }
  .selected_company_result_header,
  .selected_company_middle_header,
  .selected_company_bottom_header {
    width: 695px;
  }
  .compare_section,
  .company_section {
    width: 695px;
  }

  .selected_company_box {
    width: 695px;
  }
  .category_box_compare,
  .category_box_rank {
    width: 695px;
  }
}
@media (min-width: 375px) and (max-width: 743px) {
  .selected_company_result {
    width: 343px;
  }
  .selected_company_result_header {
    width: 343px;
  }
  .selected_company_middle_header,
  .selected_company_bottom_header {
    width: 343px;
  }

  .selected_company_box {
    width: 343px;
  }

  .compare_section,
  .company_section {
    width: 343px;
    overflow-x: auto;
  }

  .category_box_compare,
  .category_box_rank {
    width: 695px;
  }
  .category_body {
    width: 695px;
  }
}
