/* * { */
/* box-sizing: border-box; */
/* } */

.compare_main_container {
  padding: 0 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.compare_head_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.compare_heading_text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.compare_sub_text {
  font-size: 16px;
}

.reset_btn_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.reset_btn {
  border-radius: 50px;
  border: none;
  width: 149px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.09px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #eb5230;
  color: #ffffff;
  border: none;
  white-space: nowrap;
}

.reset_btn:hover {
  background-color: #e84a37;
}
.reset_btn:active {
  background-color: #eb5230;
}
.reset_btn:disabled {
  background-color: #808080;
  color: #000000;
  cursor: not-allowed;
  border-radius: 50px;
  border: none;
  width: 149px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.09px;
  padding: 8px 24px;
  white-space: nowrap;
}

.add_button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cancel_btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  float: right;
  text-decoration: underline;
  position: absolute;
  z-index: auto;
  top: 15px;
  right: 15px;
}

.cancel_btn:hover {
  color: #ff6b6b;
  text-decoration: underline;
}

.cancel_btn:active {
  color: #ff3b3b;
}

.modal_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.add_company_btn {
  width: 48px;
  height: 48px;
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}

.add_company_text {
  white-space: nowrap;
}

.inner_box {
  background-color: #212121;
  height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 0 2px;
  gap: 1px;
  margin-bottom: 2rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content_wrapper {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.modal_content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 950px;
  padding: 24px 24px;
  gap: 24px;
}

.modal_header {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ic_close_x {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.search_container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.search_input {
  flex: 1;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-right: 8px;
}

.clear_btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #666666;
}

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
}

.compare_btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.compare_btn {
  border-radius: 50px;
  border: none;
  width: 149px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.09px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #eb5230;
  color: #ffffff;
  border: none;
  white-space: nowrap;
}

.compare_btn:hover {
  background-color: #e84a37;
}

.compare_btn:active {
  background-color: #eb5230;
}

.compare_btn:disabled {
  background-color: #2e2e2e !important;
  color: #747474 !important;
  cursor: not-allowed !important;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 194px;
  height: 48px;
  margin: 30px auto;
}
