* {
  box-sizing: border-box;
}

.compare_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

.compare_page_header {
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}

.select_company_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 919px;
}

.all_reset_btn {
  height: 40px;
  width: 149px;
  border-radius: 50px;
  background-color: #eb5230;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  gap: 4px;
  border: none;
  cursor: pointer;
}

.all_reset_btn:disabled {
  background-color: #2e2e2e;
  color: #747474;
}

.select_my_company_box {
  width: 1200px;
  height: 300px;
  margin-top: 16px;
  border: 1px solid #212121;
  background-color: #212121;
  border-radius: 4px;
}

.select_my_company_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cancel_select {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  color: #d8d8d8;
  padding: 0 0 8px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  margin-right: 13px;
  text-decoration: underline;
}

.selected_company_info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.selected_company_img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.selected_company_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
  align-items: center;
  display: flex;
  margin: 0;
  margin-top: 5px;
}

.selected_company_category {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  color: #747474;
  margin: 0;
  margin-top: 4px;
}

.add_company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plus_icon {
  cursor: pointer;
}

.add_company_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.48px;
  align-items: center;
  color: #ffffff;
}

.yes_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #212121;
  border-radius: 16px;
  padding: 24px;
  gap: 24px;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.select_my_company {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  margin: 0;
}

.close_icon {
  cursor: pointer;
}

.search_bar {
  width: 448px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #747474;
  gap: 10px;
  background-color: #212121;
  margin-bottom: 24px;
}

.search_input {
  height: 15px;
  justify-content: space-between;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  color: #d8d8d8;
  background-color: #212121;
}

.search_input:focus {
  outline: none;
}

.search_icon {
  margin-right: 15px;
}

.selected_company_list_header {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: #ffffff;
}

.selected_company_text,
.selected_company_num {
  margin: 0;
  margin-bottom: 12px;
}

.selected_company_list_box {
  padding: 0;
}

.selected_company_list_body {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.cancel_selected {
  border-radius: 10px;
  border: 1px solid #747474;
  gap: 10px;
  color: #747474;
  background-color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
  align-items: center;
  width: 104px;
  height: 48px;
}

.all_company_header,
.recent_company_header {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: #ffffff;
  margin-top: 12px;
}

.recent_company_list {
  padding: 0;
}

.recent_company_item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.all_company_list_text,
.all_company_num,
.search_result,
.select_compare_company,
.recent_company_title,
.recent_company_num {
  margin: 0;
  margin-bottom: 12px;
}

.all_company_list {
  padding: 0;
}

.all_company_list_body {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.gap {
  display: flex;
  gap: 4px;
  align-items: center;
}

.codeit_icon {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin-right: 12px;
}

.category_company_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 19.09px;
  color: #ffffff;
}

.category_category {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  color: #747474;
}

.selected_button {
  border-radius: 10px;
  border: 1px solid #eb5230;
  gap: 10px;
  background-color: #212121;
  color: #eb5230;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 104px;
  height: 48px;
  justify-content: center;
}

.selected_button:focus {
  outline: none;
}

.compare_company_btn {
  background-color: #eb5230;
  color: #ffffff;
  width: 183px;
  height: 48px;
  border-radius: 50px;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  align-items: center;
  display: flex;
  margin-top: 24px;
  white-space: nowrap;
  justify-content: center;
  cursor: pointer;
}

.compare_company_btn:disabled {
  background-color: #2e2e2e;
  color: #747474;
}

.compare_company_select_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

.compare_company_select_page_header {
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}

.select_compare_company_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.add_company_btn {
  height: 40px;
  width: auto;
  border-radius: 50px;
  padding: 8px 24px;
  background-color: #eb5230;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.add_company_btn:disabled {
  background-color: #2e2e2e;
  color: #747474;
}

.select_compare_company_container {
  width: 1200px;
  height: 300px;
  border: 1px solid #212121;
  background-color: #212121;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.select_compare_company_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.not_select_compare_company_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  align-items: center;
  color: #747474;
  display: flex;
  text-align: center;
}

.selected_company {
  display: flex;
  background-color: #333333;
  width: 126px;
  height: 187px;
  flex-direction: column;
  border-radius: 8px;
}

.delete_company_btn {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.selected_company_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.company_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
  align-items: center;
  color: #ffffff;
  display: flex;
}

.company_category {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  color: #747474;
}

.yes_compare_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compare_modal {
  background-color: #212121;
  border-radius: 16px;
  padding: 24px;
  gap: 24px;
}

.compare_modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select_compare_company {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  margin: 0;
}

.selected {
  width: 104px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d8d8d8;
  padding: 0;
  gap: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
  align-items: center;
  justify-content: center;
  color: #d8d8d8;
  display: flex;
}

.error_message {
  color: #c41013;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
}

@media (max-width: 1199px) and (min-width: 744px) {
  .compare_page {
    margin: 30px 0 0 0;
  }
  .not_modal_page,
  .compare_company_select_page_header,
  .select_compare_company_container {
    width: calc(100% - 80px);
  }
  .select_my_company_box,
  .compare_company_select_page,
  .compare_page_header {
    width: 100%;
  }
}

@media (max-width: 743px) and (min-width: 375px) {
  .select_my_company {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.09px;
  }

  .all_company_header {
    margin-top: 12px;
  }

  .all_company_num,
  .all_company_list_text,
  .search_result,
  .recent_company_title,
  .recent_company_num,
  .selected_company_text,
  .selected_company_num {
    font-weight: 700;
    font-size: 14px;
    line-height: 16.71px;
  }

  .category_company_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.71px;
  }

  .category_category {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.32px;
  }

  .modal {
    width: 343px;
    padding: 16px;
  }

  .modal_header,
  .compare_modal_header {
    margin-bottom: 16px;
  }

  .search_bar {
    width: 311px;
    height: 40px;
  }

  .selected_button {
    width: 73px;
    height: 32px;
    border-radius: 8px;
    font-size: 14px;
    gap: 0;
  }

  .cancel_selected {
    width: 73px;
    height: 32px;
    border-radius: 8px;
    font-size: 14px;
  }

  .codeit_icon {
    width: 40px;
    height: 40px;
  }

  .select_compare_company_container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .selected_company {
    width: 104px;
    height: 163px;
  }

  .selected_company_img {
    width: 64px;
    height: 64px;
  }

  .company_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.71px;
  }

  .company_category {
    font-weight: 500;
    font-size: 12px;
    line-height: 14.32px;
  }

  .select_compare_company_text {
    white-space: nowrap;
  }

  .compare_modal {
    width: 343px;
    padding: 16px;
  }

  .select_compare_company {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.09px;
  }

  .compare_page_header,
  .not_modal_page,
  .select_my_company_box,
  .compare_company_select_page,
  .compare_company_select_page_header,
  .select_compare_company_container {
    width: calc(100% - 40px);
  }

  .select_compare_company_container {
    height: 350px;
  }

  .select_my_company_box,
  .compare_company_select_page,
  .compare_page_header {
    width: 100%;
  }

  .select_company_text,
  .select_compare_company_text {
    font-size: 16px;
  }

  .select_compare_company_text,
  .all_reset_btn {
    width: 116px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.71px;
  }

  .add_company_btn,
  .all_reset_btn {
    width: 120px;
    height: 32px;
    padding: 0;
    font-size: 13px;
  }

  .cancel_select {
    font-size: 12px;
  }

  .selected_company_img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
  }

  .selected_company_name,
  .selected_company_category {
    font-size: 14px;
  }
}
