* {
  box-sizing: border-box;
}

hr {
  border: solid 1px #2e2e2e;
}
.corporate {
  padding: 0 200px 100px;
}

.corporate_wrapper {
  display: flex;
  padding: 20px;
  align-items: center;
}

.corporate_name {
  margin-left: 25px;
}

.corporate_name h3 {
  font-size: 24px;
}

.corporate_name h4 {
  font-size: 20px;
}

.cor_type {
  color: #747474;
}

.overview_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.overview,
.introduction {
  background-color: #282828;
  margin: 15px 0;
  border-radius: 7px;
}
.overview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 70px;
  flex-grow: 1;
}

.account {
  flex-grow: 1;
  margin: 15px;
}

.introduction {
  padding: 5px 24px;
}

.invest_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invest_wrapper,
.total_amount_wrapper {
  font-size: 20px;
}

.invest_button {
  background-color: #eb5230;
  color: white;
  border-radius: 50px;
  width: 131px;
  height: 40px;
  cursor: pointer;
}

.investment_container {
  width: 100%;
  text-align: center;
}

.investment_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

.investment_header {
  display: flex;
  font-weight: bold;
  background-color: #2e2e2e;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.investment_item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #4b4b4b;
  background-color: #212121;
  align-items: center;
}

.investment_item:last-child {
  border-bottom: none;
  border-radius: 0 0 4px 4px;
}

.investment_item:nth-child(2) {
  border-radius: 4px 4px 0 0;
}

.investment_item span {
  padding: 5px 0;
}

.invest_inform {
  min-width: 100px;
}

.investment_comment {
  flex-grow: 1;
}

.comment_content {
  margin: 0 50px;
}

.select_box {
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

.dropdown_select {
  position: absolute;
  top: 100%;
  right: 50%;
  background-color: #131313;
  padding: 10px;
  width: 168px;
  border: 1px solid #747474;
  color: #d8d8d8;
  z-index: 1000;
  border-radius: 10px;
  display: flex;
}

.dropbox_item:hover {
  opacity: 0.7;
}

.dropbox_item {
  list-style: none;
  cursor: pointer;
  text-align: center;
}

.line {
  border-bottom: 1px solid #747474;
  margin: 0 -51px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.active {
  font-weight: bold;
  background-color: #eb5230;
  color: white;
}

.dropdown_select {
  width: 168px;
  height: auto;
  border: 1px solid #747474;
  border-radius: 10px;
  padding: 10px;
  color: #d8d8d8;
  font-weight: 400;
  z-index: 1;
}

.no_investment {
  padding-top: 70px;
  font-size: 14px;
  text-align: center;
}

.no_investment p {
  color: #747474;
}

.logo_img {
  width: 81.23px;
  height: 81.23px;
  border-radius: 50%;
}

@media (max-width: 1199px) and (min-width: 744px) {
  .corporate {
    padding: 0 30px;
  }
  .overview_wrapper {
    min-width: 696px;
  }
  .introduction {
    min-width: 696px;
  }
}

@media (max-width: 743px) and (min-width: 375px) {
  .corporate {
    padding: 0 20px;
  }

  .corporate_name h3 {
    font-size: 20px;
  }

  .corporate_name h4 {
    font-size: 16px;
  }
  .logo_img {
    width: 60px;
    height: 60px;
  }
  .overview {
    display: flex;
    flex-direction: column;
    width: 103.67px;
    height: 125px;
  }
  .overview h5 {
    margin: 0px;
    padding-top: 20px;
  }
  .overview p {
    padding-bottom: 20px;
    margin: 0;
  }
  .account {
    width: 103.67px;
  }
  .invest_wrapper,
  .total_amount_wrapper {
    font-size: 16px;
  }

  .invest_button {
    width: 97px;
    height: 32px;
    font-size: 12px;
    cursor: pointer;
  }

  .investment_container {
    width: 100%;
    overflow-x: auto;
  }
  .investment_list {
    margin-bottom: 10px;
  }

  .investment_container::-webkit-scrollbar {
    width: 500px;
    height: 15px;
  }

  .investment_container::-webkit-scrollbar-track {
    background-color: #212121;
    border-radius: 20px;
  }

  .investment_container::-webkit-scrollbar-thumb {
    background-color: #121212;
    border: 3px solid #212121;
    border-radius: 20px;
  }
  .investment_container::-webkit-scrollbar-thumb:hover {
    background-color: #111111;
  }
  .investment_list {
    min-width: 1000px;
  }
}
